---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="text-center flex justify-center items-center gap-40 my-10 p-8">
    <div class="w-200 rounded-3xl text-left text-3xl bg-zinc-900 p-5">
      <p class="text-white mb-4">
        Como estudiante de Ingeniería en Sistemas, soy un entusiasta del
        desarrollo e implementación de soluciones tecnológicas que permiten a
        los negocios alcanzar el impacto que buscan.
      </p>
      <p class="text-gray-400 mb-4 ">
        Me especializo en el desarrollo web full stack, trabajando con
        tecnologías de vanguardia con facilidad de aprendizaje para adaptarme a
        nuevas tecnologías.
      </p>
      
    </div>
    <Image src="/assets/elmer.jpg" alt="Elmer" width={400} height={400} />
  </div>
</Layout>
