---
import Layout from "../layouts/Layout.astro"
import Project from "../components/Project.astro"

//Importamos getCollection para traer los proyectos que hicimos con markdown.
import { getCollection, type CollectionEntry } from "astro:content";

//Definimos el tipo de datos que representan los proyectos
type Project = CollectionEntry<'projects'> & { slug: string }; 

//Obtengamos los proyectos.
const proyectos:Project[] = await getCollection('projects') as Project[];

---

<Layout>
    <section class="flex flex-col w-xl md:mx-auto md:mt-16 gap-y-4">
        {
            proyectos.map(proyecto=>(
                <Project
                    title={proyecto.data.title}
                    urlImagen={proyecto.data.imagen} 
                    description={proyecto.data.description}
                    href={`/projects/${proyecto.slug}`}
                />
            ))
        }
    </section>
</Layout>