<ul class="mt-16 space-y-4 w-90 flex flex-col items-start pl-10 pt-30 bg-amber-400">
  <li>
    <a class="group flex items-center gap-4 py-2 px-3 rounded-lg transition-all hover:bg-slate-800 focus-visible:bg-slate-800" href="#about">
     <span class="animate-bounce">
      🔽
     </span>
     <span class="text-2xl font-semibold uppercase tracking-wide text-white group-hover:text-blue-400">
      Sobre Mi
     </span>
    </a>
  </li>
  <li>
    <a class="group flex items-center gap-4 py-2 px-3 rounded-lg transition-all hover:bg-slate-800 focus-visible:bg-slate-800" href="#experience">
     <span class="animate-bounce">
      🔽
     </span>
     <span class="text-2xl font-semibold uppercase tracking-wide text-white group-hover:text-blue-400">
      Experience
     </span>
    </a>
  </li>
  <li>
    <a class="group flex items-center gap-4 py-2 px-3 rounded-lg transition-all hover:bg-slate-800 focus-visible:bg-slate-800" href="#projects">
     <span class="animate-bounce">
      🔽
     </span>
     <span class="text-2xl font-semibold uppercase tracking-wide text-white group-hover:text-blue-400">
      Projects
     </span>
    </a>
  </li>
 </ul>
